<%- include("partials/header"); -%>
<script>
    window.onload = function () {
        const token = '<%= token %>';
        localStorage.setItem('token', token);
    };
</script>
    <a href="/verify">Verify</a>
    <a href="/feedback">Feedback</a>
    <a href="/updatecourse">Courses</a>
<%- include("partials/footer"); -%>