<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>QUEXA</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/uploads/webstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add this script tag to include anime.js -->
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1"></script>

    <script>
      function showFeedbackPopup() {
        document.getElementById("feedback-popup").style.display = "block";
      }

      function closeFeedbackPopup() {
        document.getElementById("feedback-popup").style.display = "none";
      }
    </script>
  </head>
  <body>
    <div class="backgroundimage">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom navbar-fixed nav">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4"><img src="/uploads/Images/logo_bg.png" class="logo" alt="Quexa Logo"/></span>
              </a>
        
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/views/home-rules.ejs" class="nav-link">About Quexa</a></li>
                <li class="nav-item"><a href="javascript:void(0);" class="nav-link" onclick="showFeedbackPopup()">Feedback</a></li>
              </ul>
            </header>
          </div>

        <div class="body d-flex flex-row justify-content-center">
                    <div class="d-flex justify-content-between align-items-center grid-container">
                        <div class="card-image">
                            <img src="/uploads/Images/conversationimage.jpg" alt="Card Image" class="card-image" />
                        </div>
                        <div class="card-buttons upload">
                            <a href="/upload" class="button-link">
                                <img src="uploads/Images/upload.png" alt="Upload Image" class="button-image" />
                                <h3>Upload</h3>
                            </a>
                        </div>
                        <div class="card-buttons download">
                            <a href="/search" class="button-link">
                                <img src="uploads/Images/download.png" alt="Search Image" class="button-image" />
                                <h3>Download</h3>
                            </a>
                        </div>
                        <div class="download-rating">
                        <div class="downloads-ratings-item" id="downloadsItem" style="transform: translateY(0px);margin-right: 0px;">
                            <h3>Downloads:<%= totalDownloads %></h3>
                        </div>
                        <div class="downloads-ratings-item" style="margin-left: 0px;transform: translateY(0px);margin-right: 0px;" id="ratingsItem">
                            <h3>Rating:<%= averageRating %></h3>
                        </div>
                        <div class="downloads-ratings-item" style="margin-left: 0px;transform: translateY(0px);margin-right: 0px;" id="totalItem">
                            <h3>Papers Available:<%= totalUniquePosts %></h3>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>

    <!-- Feedback Popup -->
    <div id="feedback-popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="closeFeedbackPopup()"
          ><h3>&times;</h3></span
        >
        <form class="feedback-form" action="/feedback" method="post">
          <h2>Feedback Form</h2>

          <input
            type="text"
            id="name"
            name="name"
            required
            placeholder="Name"
          />

          <input
            type="text"
            id="registration"
            name="registration"
            required
            placeholder="Registration Number"
          />

          <input
            type="number"
            id="rating"
            name="rating"
            min="1"
            max="5"
            required
            placeholder="Rating"
          />

          <textarea
            id="other"
            name="other"
            placeholder="Feedback and suggestions"
          ></textarea>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
    <script>
      const containerHeight = document.querySelector(".nav").offsetHeight;

      // Calculate the margin based on the container height (e.g., 20%)
      const margin = containerHeight;

      // Add the margin to the .body div
      const bodyDiv = document.querySelector(".body");
      bodyDiv.style.paddingTop = `${margin}px`;
    </script>

    <!-- js for download and ratings -->
    <script>
        // Function to animate the elements
        function animateElements() {
            const downloadsItem = document.getElementById('downloadsItem');
            const ratingsItem = document.getElementById('ratingsItem');
            const totalDownloads = document.getElementById('totalDownloads');
    
            setTimeout(() => {
                document.getElementById('oneMinusOne').style.opacity = 1;
            }, 500);
    
            setTimeout(() => {
                downloadsItem.style.transform = 'translateY(0)';
                ratingsItem.style.transform = 'translateY(0)';
            }, 1000);
    
            setTimeout(() => {
                document.getElementById('averageRating').style.opacity = 1;
            }, 1500);
    
            setTimeout(() => {
                document.getElementById('totalDownloads').style.opacity = 1;
                // Add scrolling animation for downloads
                scrollDownloads(totalDownloads);
            }, 2000);
        }
    
        // Function to scroll through downloads
        function scrollDownloads(element) {
            const total = parseInt(element.innerText, 10);
            let current = 1;
            let intervalDuration = 100; 
    
            const scrollInterval = setInterval(() => {
                if (current <= total) {
                    element.innerText = current;
                    current++;
                    intervalDuration -= 5; 
                } else {
                    clearInterval(scrollInterval);
                }
            }, intervalDuration);
    
            
            setTimeout(() => {
                element.innerText = newTotalDownloads;
                clearInterval(scrollInterval); 
            }, 5000); 
        }
        window.onload = animateElements;
    </script>
    <!--Guidelines-->
    <div class="rules">
        <div id="outer">
            <div id="inner">
                <div class="Heading">
                    <h1 style="text-align:center;">About Quexa!</h1>
                </div>
                <br>
                <div class="about-quexa">
                    <h4 style="text-align:center">Welcome to Quexa, your academic sanctuary for streamlined access to a treasure trove of question papers! 🎓✨</h4>
                    <br>
                    <div class="Sub-Headings">
                        <h4 style="text-align:left;">1) Explore the Academic Oasis</h3>
                        <br>
                        <div class="Content1">
                            <p style="text-align:left">Embark on your academic journey with our precisely designed website, featuring four main pages - Home, Search, Download, and Upload. The simplicity of our interface ensures a seamless experience for students from all branches and academic years. Dive into the expansive database where you can easily search and view question papers with a click of a button. Want to take it with you? Flexibility is key – just hit the download button and have your valuable resource at your fingertips!</p>
                        </div>
                        <br>
                        <h4 style="text-align:left;">2) Rules and Guidelines</h3>
                        <br>
                        <div class="Content2">
                            <ul>
                                <li>
                                    <h5>Purpose:</h5>
                                    <p>- The primary goal is to facilitate the downloading of question papers to our VIT-AP Community.</p>
                                </li>
                                <li>
                                    <h5>Upholding Standards:</h5>
                                    <p>- Uphold the decorum and academic integrity by submitting accurate and relevant question papers.</p> 
                                </li>
                                <li>
                                    <h5>Downloading Process:</h5>
                                    <p>- Click the Download button, fill in required details, and press download.</p>
                                </li>
                                <li>
                                    <h5>Quality Assurance:</h5>
                                    <p>- All uploaded question papers will undergo thorough verification before being made accessible. This ensures the integrity and reliability of the content.</p>
                                </li>
                                <li>
                                    <h5>Verification Process:</h5>
                                    <p>- Our team will review each question paper to maintain the highest standards. Expect a brief waiting period as part of this verification process.</p>
                                </li>
                                <li>
                                    <h5>Accountability:</h5>
                                    <p>- Contributors play a crucial role in maintaining the quality of the platform. Take responsibility for the content you share, fostering a trustworthy environment.</p>
                                </li>
                                <li>
                                    <h5>Community Involvement:</h5>
                                    <p>- Contribute by sharing question papers with fellow students.</p>
                                </li>
                                <li>
                                    <h5>Developer Status:</h5>
                                    <p>- Developers are beginners; patience is appreciated.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="Communication">
                            <br>
                            <h4 style="text-align:left">3) Continuous Improvement</h4>
                            <br>
                            <div class="Content3">
                                <p>As you embark on your academic journey with Quexa, we encourage you to be an active participant.We value your feedback and are open to continuous improvement. Reach out to us through the "Contact Us" form for any queries, suggestions, or feedback. Together, let's create a vibrant academic hub where knowledge knows no bounds! 🚀📚
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="Note">
                            <ul>
                                <li>
                                    <h3>Note:</h3>
                                    <h5>- Your commitment to these guidelines ensures Quexa remains a reliable and trusted platform for students seeking valuable academic resources.</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="contact">
        <div class="image-container1">
            <img src="uploads/Images/rocket.png" alt="Rocket">
        </div>
        <div class="contact-content">
            <h2>Contact Us</h2>
            <h5>for any queries</h5>
            <div class="mail">
                <h5>mail us at <a href="mailto:Quexa2023@gmail.com">Quexa2023@gmail.com</a></h5> 
            </div>
        </div>
        <div class="image-container2">
            <img src="uploads/Images/Girl.png" alt="Girl">
        </div>
    </div>
        
    
</body>
</html>
