<%- include("partials/header"); -%>
<script>
    window.onload = function () {
        const userResponse = prompt("Please enter password:");
        if (userResponse && userResponse.toLowerCase() === '2quexa3') {
            alert("Correct Password!");
            window.close();
        } else {
            alert("Incorrect Password! Redirecting to Home.");
            window.location.href = "/";
        }
    };
</script>
<form class="" action="/uploadCourse" method="post">
    <input class="form-control" type="text" name="courseCode" placeholder="Course Code">
    <input class="form-control" type="text" name="courseTitle" placeholder="Course Title">
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<% if (typeof error !== 'undefined' && error !== null) { %>
    <div class="error-message">
        <p><%= error %></p>
    </div>
<% } %>

<%- include("partials/footer"); -%>
